:root {
	--font-color: #000;
	--white: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

button {
	font-family: 'Raleway', sans-serif;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.hero-img {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
}

.section-heading {
	text-align: center;
	margin: 2em 0 1em 0;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
}

// navigation

.nav {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #fff;
	width: 100%;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.329);

	&__links-desktop {
		display: none;
		justify-content: center;
		align-items: center;
		font-size: 1.7rem;
	}

	&__link-desktop {
		padding: 2em;
		color: var(--font-color);
		transition: color 0.3s, background-color 0.3s;

		&--active {
			background-color: #000;
			color: #fff;
		}
	}

	&__link-desktop:hover {
		background-color: #000;
		color: #fff;
	}

	&__logo {
		padding: 0.884em;
		font-size: 3rem;
		p,
		a {
			color: var(--font-color);
		}
	}

	&-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateY(-100%);
		background-color: #fff;
		transition: transform 0.3s;
		z-index: 10;
		overflow: hidden;

		&--active {
			transform: translateY(0);
		}

		&__links {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		&__link {
			font-size: 3em;
			padding: 0.75em;
			color: var(--font-color);
		}
	}

	.burger-btn {
		position: absolute;
		right: 50px;
		padding: 1em;
		background: none;
		border: none;
		cursor: pointer;
		z-index: 9999999999999999999999;

		&__bars,
		&__bars::after,
		&__bars::before {
			height: 3px;
			width: 30px;
			background-color: #000;
			border-radius: 25px;
		}

		&__bars {
			position: relative;

			&::before,
			&::after {
				position: absolute;
				content: '';
				transition: transform 0.3s;
			}

			&::before {
				top: -8px;
				left: 0;
			}

			&::after {
				top: 8px;
				left: 0;
			}

			&--active {
				background-color: transparent;

				&::after {
					transform: rotate(45deg);
					top: 0;
				}

				&::before {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

// HEADER
.header {
	margin-top: 88px;
	.hero-img {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 40vh;
		background-image: url(../img/header-small.jpg);
	}

	.hero-bg {
		background-color: rgba(0, 0, 0, 0.603);
	}

	&__content {
		margin: 3em;
		color: #fff;
		z-index: 5;
	}

	&__text {
		font-size: 1.5rem;
	}
}

.box {
	display: block;
	width: 5px;
	height: 5px;
}

// ABOUT US

.aboutus {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 5em;
	}
	&__img {
		max-width: 90%;
	}

	&__text-box {
		text-align: center;
		margin: 3em;
		//width: 40%;
	}

	&__title {
		font-size: 2rem;
		margin-bottom: 1em;
	}

	&__text {
		font-size: 1.4rem;
		line-height: 1.7;
	}
}

//HERO IMG

.hero-img {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20vh;
	background-image: url(../img/hero-small.jpg);
}

.hero-bg {
	background-color: rgba(0, 0, 0, 0.503);
}

.hero-text {
	text-align: center;
	margin: 1em;
	padding: 1em 9%;
	font-size: 2rem;
	color: #fff;
	border: 1px solid #fff;
	z-index: 1;
}

//OFFER

.offer {
	.section-heading {
		margin-bottom: 0.7em;
	}

	&__subtitle {
		font-size: 1.7rem;
		text-align: center;
	}

	&__cards-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 3em 0;
	}

	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		max-width: 300px;
		min-width: 250px;
		margin: 3em;
		padding: 3em;
		box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
		border-radius: 6px;
		background-color: #fff;

		&-title {
			font-size: 2.5rem;
		}

		&-price {
			font-weight: 700;
			font-size: 3.7rem;
			margin: 0.5em;
		}

		&-option {
			margin-bottom: 0.4em;
			font-size: 1.5rem;
			list-style: none;

			.fa-solid {
				margin-right: 0.25em;
			}

			.fa-check {
				color: rgb(54, 245, 7);
			}

			.fa-minus {
				color: rgb(139, 139, 139);
			}

			&--disabled {
				color: rgb(139, 139, 139);
			}
		}
		&-button {
			margin-top: 1.5em;
			padding: 0.6em 3.75em;
			font-size: 1.5rem;
			background: none;
			border: none;
			box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
			border-radius: 6px;
			cursor: pointer;

			&--green {
				background-color: rgb(8, 197, 65);
				box-shadow: 1px 1px 5px 1px rgba(8, 197, 65, 0.514);
			}
		}
	}

	&__text {
		text-align: center;
		margin-bottom: 3em;
		font-size: 1.5rem;
		a {
			color: rgb(8, 197, 65);
			cursor: pointer;
		}
	}
}

// FOOTER

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3em;
	background-color: rgb(230, 230, 230);
	border-bottom: 1px solid #333;

	&__menu-box {
		display: flex;
	}

	&__menu {
		margin: 1.5em 3em;
		list-style: none;

		&-item {
			font-size: 1.4rem;
			margin: 1.5em 0;

			a {
				color: var(--font-color);
			}
		}

		&-title {
			font-weight: 700;
			font-size: 1.8rem;
		}
	}

	.nav__logo {
		margin-top: 1em;
		font-size: 3.7rem;
	}

	&__year-box {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2.5em 0;
		background-color: rgb(230, 230, 230);
	}

	&__year {
		font-size: 1.4rem;
	}
}

//OFFERS SUBPAGE

.offers {
	margin-top: 15em;

	.section-heading {
		margin-bottom: 0.5em;
	}

	&__subtitle {
		text-align: center;
		font-size: 1.7rem;
		letter-spacing: 0.75px;
		margin-bottom: 3em;
	}

	.hero-bg {
		z-index: 1;
	}

	&__container {
		position: relative;

		&--first {
			margin-bottom: 5em;
		}
	}

	&__card-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;

		background-position: center;
		background-size: cover;
		width: 100%;

		&--first {
			background-image: url('../img/park-gbb7f345f1_1920.jpg');
		}
		&--second {
			background-image: url('../img/forest-g16db2de56_1920.jpg');
		}
	}

	.offer__card {
		z-index: 10;
	}
}

//Contact

.contact {
	margin-top: 5em;
	padding: 6em 2em;

	&__form {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 30px;
	}

	&__form-box {
		width: 100%;

		label {
			display: block;
			margin: 0.25em 0;
			font-size: 1.8rem;
		}

		input,
		textarea {
			padding: 1em 2em;
			margin-bottom: 2em;
			width: 100%;
			background: none;
			border: 1px solid #000;
			&:focus {
				outline: none;
				border: 1px solid rgb(8, 197, 65);
			}
		}

		&:nth-child(1) {
			grid-column: 1/-1;
			grid-row: 1/2;
		}
		&:nth-child(2) {
			grid-column: 1/-1;
			grid-row: 2/3;
		}
		&:nth-child(3) {
			grid-column: 1/-1;
			grid-row: 3/4;
		}
	}

	&__form-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: 5/7;
		grid-row: 4/5;
		padding: 0.75em 3em;
		border: none;
		background-color: rgb(8, 197, 65);
		border-radius: 5px;
		font-size: 1.5rem;
		cursor: pointer;
	}
}

//Lokalizacja

.location {
	padding: 6em 2em;
	iframe {
		width: 100%;
	}
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@import 'media_queries/medium';
@import 'media_queries/large';
@import 'media_queries/small';
