@media (min-width: 576px) {
	.contact {
		&__form-box {
			label {
				margin: 1em 0;
			}

			&:nth-child(1) {
				grid-column: 1/4;
				grid-row: 1/2;
			}
			&:nth-child(2) {
				grid-column: 4/7;
				grid-row: 1/2;
			}
			&:nth-child(3) {
				grid-column: 1/-1;
				grid-row: 2/3;
			}
		}

		&__form-btn {
			grid-column: 6/7;
			padding: 0.75em 1.5em;
		}
	}
}
